footer.footer
	.container-fluid
		.row
			.col-md-6.mt-3.copyright.text-center
				p.m-b-0 Copyright 2018 by 
					a(href='/') FullStack Vietnam.
			.col-md-6.text-center
				.form
					form
						.form-group.mt-3
							label(for="exampleInputEmail1")
								b EMAIL
							input#exampleInputEmail1.form-control(type="email" aria-describedby="emailHelp" placeholder="Email của bạn")
							small#emailHelp.form-text.text-muted
							button.btn.btn-primary(type="button") Gửi
