<!-- ////////////// HEADER ////////////// -->
header
	nav.navbar.navbar-expand-lg.navbar-light.ml-5.mr-5
		a
			img.img-fluid(src="./img/logo.png", alt="", srcset="")
		button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
			span.navbar-toggler-icon
		#navbarSupportedContent.collapse.navbar-collapse.text-center
			.mr-auto
			ul.navbar-nav
				li.nav-item
					a(href="#", target="_blank", rel="noopener noreferrer").text My Account
				li.nav-item
					a(href="#", target="_blank", rel="noopener noreferrer").text Check Gift
				li.nav-item
					a(href="#", target="_blank", rel="noopener noreferrer").text Card My
				li.nav-item
					a(href="#", target="_blank", rel="noopener noreferrer").text Wishlist
				li.nav-item
					a(href="#", target="_blank", rel="noopener noreferrer").text The Different
				li.nav-item
					a(href="#", target="_blank", rel="noopener noreferrer").text Career
				li.nav-item
					a(href="#", target="_blank", rel="noopener noreferrer").text Checkout

<!-- ////////////// HEADER ////////////// -->
